.data {
  .card {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 25px;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .type-wrap {
    padding: 10px;
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
  }
  .money {
    display: flex;
    justify-content: space-between;
  }
  .expense, .income {
    padding: 20px;
    font-size: 16px;
  }
  
  .expense {
    color: red;
  }
  .income {
    color: #6FC835;
  }
}